<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="./public/babys.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404</title>
  </head>
  <body>
    <main>
      <section class="page404">
        <header class="page404-header">
          <h2 class="page404-title">
          <span class="page404-span page404-span--left">4</span>
          <span class="page404-span page404-span">0</span>
          <span class="page404-span page404-span--right">4</span>
          </h2>
        </header>
        
        <div class="page404-container">    
          <div class="page404-subContainer ">
            <marquee class="page404-marqueeA" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeB" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeC" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
          </div>   
        </div>
        
        <div class="page404-container subB">
          <div class="page404-subContainer">
        
            <marquee class="page404-marqueeA" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeB" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeC" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
          </div>       
        </div> 
        
        <div class="page404-container subC">
          <div class="page404-subContainer">
        
            <marquee class="page404-marqueeA" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeB" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeC" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
          </div>       
        </div> 
        
        <div class="page404-container subD">
          <div class="page404-subContainer">
        
            <marquee class="page404-marqueeA" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeB" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeC" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
          </div>       
        </div> 
        
        <div class="page404-container subE">
          <div class="page404-subContainer">
        
            <marquee class="page404-marqueeA" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeB" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeC" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
          </div>       
        </div> 
        
        <div class="page404-container subF">
          <div class="page404-subContainer">
        
            <marquee class="page404-marqueeA" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeB" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
        
            <marquee class="page404-marqueeC" behavior="" direction="left" loop >
              404 - page not found
            </marquee>
          </div>       
        </div> 
        <a href="" target="_blank"></a>
        <a class="page404-btn" aria-label="Regresar a la pagina principal" href="/index.html">Regresar</a>
        </section>
      </main>
    </body>
    <script type="module" src="notFound.js"></script>
</html>