.headerPage{
  display: flex;
  flex-flow: column wrap;
  &-navbar{
    display: flex;
    background-color: aliceblue;
  }
  &-containerLogo{
    
  }
  &-logo{
    
  }
  &-navigationList{
    
  }
  &-li{
    
  }
  &-link{
    
  }
  &-banner{
    
  }
  &-pageTitle{
    
  }
}