$colors: (
  clr-primary: #8B5A2B,
  clr-secondary: #DAA520,
  clr-secondary-dark: #FFD700,
  clr-secondary-light: #F5DEB3,
);

$spacing: (
  spacing-1: 0.5rem,
  spacing-2: 1rem,
  spacing-3: 1.5rem,
  spacing-4: 2rem,
  spacing-5: 3rem,
  spacing-6: 4rem,
  spacing-7: 5rem,
  spacing-8: 10rem,
  spacing-responsive: min(20vw, 5rem)
);

$font-size: (
  small-font : 0.8rem,
  medium-font: 1rem,
  large-font: 1.7rem,
  title-font: 2.5rem
);

/*
Example:
h1{
  color: map-get($colors , clr-secondary-dark );
}

palette{
  https://colorhunt.co/palette/aa77ffc9eeff97deff62cdff
}
*/